[user]
	name = Daniel Luna
	email = daniel@lunas.se
[color]
        branch = always
        diff = always
        grep = always
        interactive = always
        showbranch = always
        status = always
        ui = always
[alias]
        alias = "!sh -c '[ $# -gt 1 ] && name=$1 && shift && git config --global alias.$name \"$*\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
        lol = log --graph --decorate --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
        lola = log --graph --decorate --abbrev-commit --date=relative --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
        psuh = push
        pullr = pull --rebase
        statsu = status
        stauts = status
	tatus = status
        up = "!sh -c 'git stash && git pull --rebase && git stash pop'"
        who = shortlog -sen
